@model CustomDetailWithContact
@{
    ViewBag.Title = "Details";
    var custom = Model.custom;
    var customers = Model.contacts.ToArray();
    var data = Model.contacts.ToArray();
}
@section breadcrumb{
    <li><a href="@Url.Action("Index", "客戶資料")">客戶資料</a></li>
    <li><a href="#">Details</a></li>
}

<h2>Details</h2>

<div>
    <h4>客戶資料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => custom.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.客戶分類)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.客戶分類)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.Email)
        </dd>

    </dl>
</div>

@*@Html.Partial("_DetailContact", Model.contacts)*@
@Html.Action("_DetailContact", new { id = custom.Id})