@model MVC5HW.Models.CustomDetailWithContact
@{
    ViewBag.Title = "Details";
    var custom = Model.custom;
    var customers = Model.contacts.ToArray();
    var data = Model.contacts.ToArray();
}

<h2>Details</h2>

<div>
    <h4>客戶資料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => custom.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.客戶分類)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.客戶分類)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => custom.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => custom.Email)
        </dd>

    </dl>
</div>



@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.contacts.FirstOrDefault().職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.contacts.FirstOrDefault().姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.contacts.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.contacts.FirstOrDefault().手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.contacts.FirstOrDefault().電話)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => Model.contacts.FirstOrDefault().客戶資料.客戶名稱)*@
        </th>
        <th></th>
    </tr>

    @for (var i = 0; i < data.Length; i++)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => data[i].Id, new { id = "data_" + i + "__Id", Name = "data[" + i + "].Id" })
                @*@Html.EditorFor(modelItem => data[i].職稱, null, "data[" + i + "].職稱")*@
                @Html.TextBoxFor(modelItem => data[i].職稱, new { id = "data_" + i + "__職稱", Name = "data[" + i + "].職稱" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].姓名, new { id = "data_" + i + "__姓名", Name = "data[" + i + "].姓名" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].Email, new { id = "data_" + i + "__Email", Name = "data[" + i + "].Email" })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => data[i].手機, new { id = "data_" + i + "__手機", Name = "data[" + i + "].手機" })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => data[i].電話, new { id = "data_" + i + "__電話", Name = "data[" + i + "].電話" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱, new { id = "data_" + i + "__客戶資料.客戶名稱", Name = "data[" + i + "].客戶資料.客戶名稱" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = data[i].Id }) |
                @Html.ActionLink("Details", "Details", new { id = data[i].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = data[i].Id })
            </td>
        </tr>
    }

    <tr>
        <td><button type="submit">批次作業</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>

}


    @*
        <table class="table">
        <tr>
            <th>
                職稱
            </th>
            <th>
                姓名
            </th>
            <th>
                Email
            </th>
            <th>
                手機
            </th>
            <th>
                電話
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < customers.Length; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => customers[i].Id)
                    @Html.TextBoxFor(modelItem => customers[i].職稱)

                </td>
                <td>
                    @Html.TextBoxFor(modelItem => customers[i].姓名)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => customers[i].Email)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => customers[i].手機)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => customers[i].電話)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = customers[i].Id }) |
                        @Html.ActionLink("Details", "Details", new { id = customers[i].Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = customers[i].Id })
                </td>
            </tr>
        }

    </table>
*@



<p>
    @Html.ActionLink("Edit", "Edit", new { id = custom.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
